<a href="https://colab.research.google.com/github/alex-soaresdf/alex-soaresdf/blob/main/C%C3%B3pia_de_L%C3%B3gica_de_programa%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Inicio

In [ ]:
nome = Alex

NameError: ignored

'Alex'

In [1]:
def

SyntaxError: ignored

# Criando minha primeira função

In [ ]:
def saudacao():
  name = input ('Qual é seu nome ') 
  print(f'olá {name} ')

In [ ]:
Qual é seu nome

SyntaxError: ignored

In [ ]:
saudacao()

Qual é seu nome alex
olá alex

# Parâmetro

In [ ]:
def saudacao_com_parametro(nome_da_pessoa):
 print(f'Ola {nome_da_pessoa}')

In [ ]:
saudacao_com_parametro(name)

Ola Alex

# Condicional

In [ ]:
idade = 20

In [ ]:
def verifica_se_pode_dirigir(idade):
  if idade >= 18:
    print('tem permissão para dirigir')
  else:
      print('Não tem permissão para dirigir')

In [ ]:
verifica_se_pode_dirigir(idade)

tem permissão para dirigir

In [ ]:
idade = 10

In [ ]:
verifica_se_pode_dirigir(idade)

Não tem permissão para dirigir

# Convertendo para inteiro

In [ ]:
def verifica_se_pode_dirigir_sem_parametro():
 idade = input('Qual é sua idade ')
 idade = int(idade)    
if idade >= 18:
  print('tem permissão para dirigir')
else:
  print('Não tem permissão para dirigir')

  verifica_se_pode_dirigir_sem_parametro()

tem permissão para dirigir

In [ ]:
idade = 18

In [ ]:
sexo =""
idade =0
qtdmulheres =0
qtdhomens =0

for i in range(0,5):
  sexo = input("digite o sexo(m ou f)")
  idade = int(input("digite a idade"))

  if(sexo=="m" or sexo=="M"):
    qtdmulheres+=1
    elif(sexo=="h" or sexo=="H"):
      qtdhomens+=1

print("a quantidade de mulheres é",qtdmulheres)
print("a quantidade de homens é",qtdhomens)

Faculdade

In [2]:
for i in range(0,3,1) :
  print("oiiii...")

oiiii...
oiiii...
oiiii...

In [5]:
nomes= ["ana", "fernanda", "maria"]
nomes.append("lucas")
print(nomes)

['ana', 'fernanda', 'maria', 'lucas']

In [6]:
frutas = ["limão", "banana", "morango"]
frutas.append("abacaxi")
frutas.
for i in range(2):
  frutas.pop()
  print(frutas)

['limão', 'banana', 'morango']
['limão', 'banana']

In [7]:
frutas = ["limão", "banana", "morango"]
frutas.append("abacaxi")
frutas.append("abacate")

frutas2= []
for i in range(2):

  frutas.pop()
  frutas2.append(frutas[i])

  print(frutas2)

['limão']
['limão', 'banana']

In [ ]:
nomes = ("ana", "fernanda", "maria")
nomes.pop()
print(nomes)

In [12]:
valor = 0
for i in range(3):
    valor = float(input("digite um valor"))

    print(valor)

digite um valor1
1.0
digite um valor2
2.0
digite um valor3
3.0

In [17]:
maiornota = 0
contador = 0
nota = 0
somanotas = 0

while contador < 3:
    nota = float(input("digite a nota do aluno"))
    somanotas = somanotas + nota

    contador+=1

    if(contador==1):
        maiornota = nota
    else:
        if(nota>maiornota):
              maiornota = nota




media = somanotas/contador

print("a media de notas e", media)
print("a maior nota foi", maiornota)

digite a nota do aluno2
digite a nota do aluno6
digite a nota do aluno8
a media de notas e 5.333333333333333
a maior nota foi 8.0